


<% if @basket_contents.any? %>
  <% @basket_contents.each do |item| %>
    <%= item.product %><br>
    £<%= item.price %><br>
    <hr>
  <% end %>
<% else %>
  <h2>There is currently nothing in your basket.</h2>
<% end %>
